In [1]:
import lib

In [2]:
lib.x

5

In [4]:
lib.hello(9)

81

In [5]:
from lib import hello

In [7]:
hello(4)

16

---

In [1]:
import lib, lib2

In [3]:
lib.hello(8), lib2.hello(8)

(64, 512)

In [4]:
from lib import hello
from lib2 import hello

In [6]:
hello(8)

512

In [1]:
from lib import hello as h1
from lib2 import hello as h2

In [2]:
h1(5), h2(5)

(25, 125)

---

In [1]:
import lib2

__name__ is lib2

In [2]:
lib2.hello(6)

216

In [3]:
__name__

'__main__'

---

In [2]:
from sqlite3 import connect

In [4]:
with connect("mydb.db") as con:
    con.execute("""
                CREATE TABLE user (name text,
                                    lastname text)""")

In [23]:
with connect("mydb.db") as con:
    con.execute("""
                INSERT INTO user
                (name, lastname)
                values('Vasiliy', 'Pupkin')""")

In [42]:
with connect("mydb.db") as con:
    cur = con.cursor()
    cur.execute("""
                SELECT name, lastname
                FROM user""")

https://www.w3schools.com/sql/sql_select.asp
===

https://sql-ex.com/
===

In [47]:
cur.fetchmany(3)

[('Vasiliy', 'Pupkin')]

In [48]:
with connect("mydb.db") as con:
    con.execute("""
                INSERT INTO user
                (name, lastname)
                values(?, ?)""", ("Evgen", "Batkovich"))

In [49]:
with connect("mydb.db") as con:
    cur = con.cursor()
    cur.execute("""
                SELECT name, lastname
                FROM user""")
cur.fetchall()

[('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Vasiliy', 'Pupkin'),
 ('Evgen', 'Batkovich')]

---

In [50]:
with connect("mydb.db") as con:
    con.execute("""
                CREATE TABLE sex(word text,
                                id INTEGER PRIMARY KEY AUTOINCREMENT)""")

In [51]:
with connect("mydb.db") as con:
    con.execute("""
                INSERT INTO sex(word) values('mel'), ('femeal')""")

In [52]:
with connect("mydb.db") as con:
    cur = con.cursor()
    cur.execute("""
                SELECT *
                FROM sex""")
    
cur.fetchall()

[('mel', 1), ('femeal', 2)]

In [53]:
with connect("mydb.db") as con:
    con.execute("""CREATE TABLE 
                    people(name varchar(100),
                    sex_id INTEGER NOT NULL, 
                    FOREIGN KEY (sex_id) REFERENCES sex(id))""")

In [62]:
with connect("mydb.db") as con:
    con.execute("PRAGMA foreign_keys = ON")
    con.execute("""INSERT INTO people(name, sex_id)
                    values (?, ?)""", ("Gaben", 1))

In [70]:
with connect("mydb.db") as con:
    cur = con.cursor()
    cur.execute("""SELECT *
                    FROM people""")

cur.fetchall()

[('Egor', 1), ('Elena', 2), ('Vika', 2), ('Jon', 1), ('Gaben', 1)]

In [85]:
with connect("mydb.db") as con:
    cur = con.cursor()
    cur.execute("""SELECT people.name, sex.word
                    FROM people
                    JOIN sex
                    ON sex.id=people.sex_id""")

from tabulate import tabulate
from IPython.display import HTML
HTML(tabulate(cur.fetchall(), tablefmt="html", headers=["name", "sex"]))

In [ ]:
! pip install tabulate

---

OOП
===

In [105]:
class Car:
    weight = 3.5
    length = 8
    height = 3
    
    def drive(self):
        return f"{self.weight} this car is driven"

In [106]:
c1 = Car()
c2 = Car()

In [107]:
c1.weight, c2.weight

(3.5, 3.5)

In [108]:
c1.weight -= 0.5

In [109]:
c1.weight, c2.weight

(3.0, 3.5)

In [110]:
c1.drive(), c2.drive()

('3.0 this car is driven', '3.5 this car is driven')

In [103]:
# c1.drive() = Car.drive(c1)

'this car is driven'

In [113]:
Car.drive(c1)

'3.0 this car is driven'

---

In [126]:
class Car:
    def __init__(self, weight, length):
        self.weight = weight
        self.length = length

    def drive(self):
        return f"{self.weight} is driven"

In [127]:
c1 = Car(1.7, 6.2)
c2 = Car(2.5, 7.1)

In [125]:
print(c1.weight, c1.length)
print(c2.weight, c2.length)

1.7 6.2
2.5 7.1

In [128]:
c1.drive()

'1.7 is driven'

---

In [185]:
class Vector:
    def __init__(self, arr):
        self.arr = arr

    def __add__(self, other):
        return Vector([sum(i) for i in zip(self.arr, other.arr)])

    def __repr__(self):
        return str(self.arr)

    def __sub__(self, other):
        return Vector([i - j for i, j in zip(self.arr, other.arr)])

    def __mul__(self, other):
        return Vector([i * j for i, j in zip(self.arr, other.arr)])

    def __matmul__(self, other):
        return sum([i * j for i, j in zip(self.arr, other.arr)])

In [186]:
v1 = Vector([1, 2, 3])
v2 = Vector([5, 4, 6])
1 * 5 + 2 * 4 + 3 * 6

31

In [174]:
v1 + v2 + v1

[7, 8, 12]

In [175]:
v1 - v2 + v2

[1, 2, 3]

In [179]:
v1 * v2 - v1

[4, 6, 15]

In [187]:
v1 @ v2

31

---

Инкапсуляция
===

In [203]:
class Cat:
    def __init__(self, name):
        self.name = name
        self._liver_size = 0.3
    
    def touch(self):
        return "i'am touching the cat"
    
    def fead(self, food):
        if food == "fish":
            return self._stomack_system()
        return "fu fu fu"

    def _stomack_system(self):
        return "br brb br br br"

In [204]:
c = Cat("Tom")

In [205]:
c.name, c.touch()

('Tom', "i'am touching the cat")

In [206]:
c.fead("bread"), c.fead("fish")

('fu fu fu', 'br brb br br br')

In [207]:
class Car:
    pass

---

In [208]:
class Train:
    def __init__(self, number):
        self.number = number
        self.next = None
    
    def __repr__(self):
        return str(self.number)

In [213]:
t1 = Train(1)
t2 = Train(2)
t3 = Train(3)

In [214]:
t1.next = t2
t2.next = t3

In [218]:
t1.next.next.next

In [219]:
root = Train(1)
n = root
for i in range(2, 20):
    n.next = Train(i)
    n = n.next

In [233]:
root.next.next.next.next.next.next.next.next.next.next.next.next.next.next.next.next.next.next

19

In [234]:
def counter(r):
    count = 1
    while r.next is not None:
        r = r.next
        count += 1
    return count

In [235]:
counter(root)

19

---

In [236]:
def build_sostav(r, arr):
    pass

In [242]:
from random import shuffle
arr = list(range(1, 20))
shuffle(arr)
arr

[9, 5, 16, 13, 19, 2, 10, 18, 3, 17, 14, 8, 12, 11, 7, 15, 4, 6, 1]

In [ ]:
build_sostav(root, arr)
root.next.next