In [4]:
def hello(a=8, b=4):
    return a + b

hello(1, 6)

7

In [7]:
def hello(a=8, b=4):
    return a + b

hello(b=6)

14

In [13]:
def hello(*, a, b):
    return a + b

hello(a=5, b=8)

13

In [16]:
def rocket_start(*, x, y):
    return f"rocket has started to x = {x} y = {y}"

rocket_start(y=30, x=40)

'rocket has started to x = 40 y = 30'

In [20]:
def rocket_start(count, *, x, y): # (position, *, key-wordonly)
    return f"{count} rockets have started to x = {x} y = {y}"

rocket_start(20, x=50, y=70)

'20 rockets have started to x = 50 y = 70'

---

In [23]:
def name_of_children(*args):
    for i in args:
        print(f"hello {i}")

name_of_children("Egor", "Pavel", "Svetlana")

hello Egor
hello Pavel
hello Svetlana

In [26]:
def name_of_children(*args, **kwargs):
    print(args)
    print(kwargs)

name_of_children("Egor", "Pavel", "Svetlana", te="Mariy", a=7)

('Egor', 'Pavel', 'Svetlana')
{'te': 'Mariy', 'a': 7}

In [31]:
def name_of_children(x, *args, **kwargs):
    print(f"x is {x}")
    print(args)
    print(kwargs)

name_of_children("Egor", "Pavel", "Svetlana", te="Mariy", a=7)

x is Egor
('Pavel', 'Svetlana')
{'te': 'Mariy', 'a': 7}

In [40]:
def name_of_children(x, *args, te="Sergey", **kwargs):
    print(f"te is {te}")
    print(f"x is {x}")
    print(args)
    print(kwargs)

name_of_children("Egor", "Pavel", "Svetlana", te="Mariy", a=7)

te is Mariy
x is Egor
('Pavel', 'Svetlana')
{'a': 7}

---

In [51]:
all([1, True, "e"])

True

In [52]:
def my_all(arr):
    result = 1
    for i in arr:
        result *= bool(i)
    return bool(result)

my_all([1, True, "t"])

True

In [56]:
any([1, 0, False, None, ""])

True

In [60]:
def my_any(arr):
    result = 0
    for i in arr:
        result += bool(i)
    return bool(result)
my_any([1, 0, False, None, ""])

True

---

In [204]:
arr = [1, 2, 3, 4, 5]

def sq(x):
    return x * x

list(map(sq, arr))

[1, 4, 9, 16, 25]

In [66]:
arr = [1, 2, 3, 4, 5, 6]

def check_even(x):
    return not x % 2

list(filter(even, arr))

[2, 4, 6]

In [67]:
arr = [15, 23, 21, 12, 65, 34, 95]

def check_five(x):
    return x % 10 == 5

list(filter(check_five, arr))

[15, 65, 95]

In [202]:
from random import randint
from math import sqrt

arr = [randint(1, 10) for i in range(10)]

def sq(x):
    return x * x

def check_five(x):
    return x % 10 == 5

list(map(sqrt, filter(check_five, map(sq, arr))))

[5.0, 5.0]

In [ ]:
20 чисел, 5 знаков, 20 сумма

55550

In [227]:
def fun(digit):
    result = 0
    while digit:
        result += digit % 10
        digit //= 10
    return result == 20
    
list(filter(fun, range(10 ** 4, 10 ** 5)))[:20]

[10199,
 10289,
 10298,
 10379,
 10388,
 10397,
 10469,
 10478,
 10487,
 10496,
 10559,
 10568,
 10577,
 10586,
 10595,
 10649,
 10658,
 10667,
 10676,
 10685]

In [221]:
# list(filter(lambda x: not any(filter(lambda y: not x % y, range(2, x))), range(2, 100)))

In [229]:
def fun(word):
    word = word.rstrip()
    return word == word[::-1]

with open(r"C:\Users\Student\Downloads\zaliznyak.txt") as file:
    print("".join(filter(fun, file)))

а
аба
ага
ара
б
боб
в
дед
довод
доход
е
еле
еле-еле
еще
ё
ж
заказ
зараз
и
или
к
кабак
казак
как
кик
киник
кок
колок
комок
косок
лал
мадам
мим
мм
моном
наган
нойон
о
обо
ого
око
оно
ото
поп
потоп
пуп
радар
репер
ротатор
ротор
с
тат
тет-а-тет
топот
тот
тут
у
угу
цыц
шабаш
шалаш
шиш
ы
э
ю
я

In [237]:
row = "A2F3G5"#  -- >  "AAFFFGGGGG"
def mul(row):
    return row[0] * int(row[1])

"".join(map(mul, [row[i:i + 2] for i in range(0, len(row) - 1, 2)]))

'AAFFFGGGGG'

In [256]:
arr = [randint(1, 10) for i in range(20)]

def check_even(x):
    return not x % 2

sum(filter(check_even, arr))

72

In [259]:
all_user = ["Ga_ben", "God,jima", "To@nny", "El-ts-in", "N0ikolay", "I1van"]

# def do_clear(word):
#     result = ""
#     for letter in word:
#         if letter.isalpha():
#             result += letter
#     return result

def do_clear(word):
    return "".join([letter for letter in word if letter.isalpha()])

list(map(do_clear, all_user))

['Gaben', 'Godjima', 'Tonny', 'Eltsin', 'Nikolay', 'Ivan']

In [262]:
list(map(lambda word:"".join([letter for letter in word if letter.isalpha()]), all_user))

['Gaben', 'Godjima', 'Tonny', 'Eltsin', 'Nikolay', 'Ivan']

In [261]:
f = lambda x: x ** 2
f(5)

25

In [268]:
all_user = ['Gaben', 'Godjima', 'Tonny', 'Gaben', 'Eltsin', 'Nikolay', 'Ivan']
result = set()

for user in all_user:
    if all_user.count(user) > 1:
        result.add(user)
result

{'Gaben'}

In [270]:
all_user = ['Gaben', 'Godjima', 'Tonny', 'Gaben', 'Eltsin', 'Nikolay', 'Ivan']
result = {}

for user in all_user:
    if user in result:
        result[user] += 1
    else:
        result[user] = 1

max(result, key=result.get)

'Gaben'

In [280]:
from collections import Counter

all_user = ['Gaben', 'Godjima', 'Tonny', 'Gaben', 'Eltsin', 'Nikolay', 'Ivan']
d = Counter(all_user)
d.most_common(1)

[('Gaben', 2)]

In [281]:
arr = [1, 2, 3, 2, 1]

for digit in arr:
    if arr.count(digit) == 1:
        print(digit)

3

In [284]:
arr = [1, 2, 3, 2, 1]
res = Counter(arr)
res.most_common()[-1][0]

3

In [293]:
arr = [1, 2, 3, 2, 1]
sum(set(arr)) * 2 - sum(arr)

3

---

13:05 -> 785  
00:00 -> 0  
00:42 -> 42  
13:37 -> 817  
12:30 -> 750

In [295]:
def convert2minutes(row):
    row = row.split(":")
    row = list(map(int, row))
    return row[0] * 60 + row[1]
convert2minutes("13:37")

817

In [ ]:
"13:05 - 10:30"

In [298]:
def find_delta(row):
    row = row.split(" - ")
    return convert2minutes(row[0]) - convert2minutes(row[1])

find_delta("9:05 - 10:30")

-85