In [1]:
row = "hello world"

In [3]:
len(row)

11

In [8]:
row[4:40]

'o world'

---

In [10]:
int, float, str

(int, float, str)

In [11]:
bool

bool

In [12]:
True

True

In [13]:
False

False

In [14]:
4 > 3

True

In [15]:
4 > 6

False

In [ ]:
!=   ==   >=  <=   >  <    in

In [16]:
"he" in "hello"

True

In [17]:
"hh" not in "hello world"

True

In [20]:
not True

False

In [21]:
not False

True

In [29]:
bool(0.0)

False

In [30]:
bool("")

False

In [31]:
bool("0")

True

In [33]:
bool(None)

False

In [35]:
True and False

False

In [36]:
False and True

False

In [37]:
False and False

False

In [38]:
True or False

True

In [39]:
False or True

True

In [40]:
False or False

False

In [41]:
True or ""

True

In [42]:
False or ""

''

In [43]:
True and 0

0

In [44]:
0 or True

True

In [45]:
0.0 or 0.111111

0.111111

In [46]:
"0" and 4

4

In [47]:
True or 0

True

In [48]:
1 or True

1

In [49]:
1 and 5

5

In [50]:
0 and 5

0

In [51]:
0 or 0.0

0.0

In [52]:
True or 0.0

True

In [56]:
4 or 6

4

In [57]:
"" and 4

''

In [58]:
4 and ""

''

In [59]:
"" and 0

''

In [60]:
"" or 0

0

In [62]:
not "" and 5

5

In [63]:
not 5 and 6

False

In [64]:
not "" or  "p"

True

In [66]:
not 0  or  0

True

---

In [67]:
x = 5
y = x

In [70]:
id(x)

140724376933312

In [71]:
id(y)

140724376933312

In [72]:
x is y

True

In [73]:
x = 5
y = x
x is y

True

In [82]:
x = 256
y = 256
x is y, x == y

(True, True)

In [84]:
True is False

False

In [85]:
4 is 5

False

In [90]:
x = 60
y = 60
x is y

True

In [91]:
x is not y

False

In [ ]:
in, not in, is, is not

In [102]:
x = 5000
y = x
x is y

True

In [92]:
love = "love"

In [93]:
this = love

In [94]:
this is love

True

In [95]:
love is True

False

In [96]:
love is False

False

In [97]:
love is not True

True

In [99]:
love is not False

True

In [100]:
love is not True or False

True

In [106]:
love is not True or False; love is love

True

---

In [107]:
arr = [1, 2, 3]

In [114]:
arr[0]

1

In [117]:
row[0] = "t"

TypeError: 'str' object does not support item assignment

In [119]:
arr[0] = "hello"

In [121]:
arr.append("world")

In [123]:
arr.remove(3)

In [126]:
arr

['hello', 2, 'world']

In [131]:
arr.insert(1, "kha;lifa")

In [132]:
arr

['hello', 'kha;lifa', 'kha;lifa', 'kha;lifa', 2, 'world']

In [134]:
arr.count("kha;lifa")

3

In [135]:
arr.pop()

'world'

In [136]:
arr

['hello', 'kha;lifa', 'kha;lifa', 'kha;lifa', 2]

In [152]:
arr = [1, 2, 3, [3, 4, 5], "hello", 4.4, True, [45, 56, [3, 4, 5]], 6]

In [154]:
arr[-2]

[45, 56, [3, 4, 5]]

In [143]:
arr

[1, 2, 3, 'hello', 4.4, True, [45, 56]]

---

In [155]:
arr1 = [1, 2, 3]
arr2 = arr1
arr1 is arr2

True

In [156]:
arr1.append(4)
arr1

[1, 2, 3, 4]

In [157]:
arr2

[1, 2, 3, 4]

---

In [158]:
arr1 = [1, 2, 3]
arr2 = arr1.copy()
arr1 is arr2

False

In [159]:
arr1.append(4)
arr1

[1, 2, 3, 4]

In [160]:
arr2

[1, 2, 3]

---

In [161]:
arr1 = [1, 2, 3, [4, 5]]
arr2 = arr1.copy()
arr1 is arr2

False

In [168]:
arr1[-1] is arr2[-1]

True

In [169]:
arr1.append(6)
arr1

[1, 2, 3, [4, 5], 6]

In [170]:
arr2

[1, 2, 3, [4, 5]]

In [172]:
arr1[-2].append(7)

In [174]:
arr1

[1, 2, 3, [4, 5, 7], 6]

In [175]:
arr2

[1, 2, 3, [4, 5, 7]]

---

In [176]:
from copy import deepcopy

arr1 = [1, 2, 3, [4, 5]]
arr2 = deepcopy(arr1)
arr1 is arr2

False

In [179]:
arr1[-1] is arr2[-1]

False

---

In [181]:
s1 = {1, 1, 2, 2, 2, 3, 3, 3, 4, 4}
s1

{1, 2, 3, 4}

In [182]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

In [187]:
s3 = s1 & s2
s3

{3, 4}

In [185]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [186]:
s1 ^ s2

{1, 2, 5, 6}

In [188]:
s1 - s2

{1, 2}

In [189]:
s2 - s1

{5, 6}

In [192]:
s1.add("world")
s1

{1, 2, 3, 4, 'world'}

In [193]:
s1.add(0)

In [195]:
s1[0]

TypeError: 'set' object is not subscriptable

---

In [10]:
count = 0
while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [13]:
arr = []
count = 0
while count < 5:
    arr.append(count)
    count = count + 1
arr

[0, 1, 2, 3, 4]

In [15]:
arr = []
while len(arr) < 5:
    arr.append(0)
arr

[0, 0, 0, 0, 0]

In [27]:
bool([])

False

In [23]:
bool({None})

True

In [29]:
arr = [1, 2, 3, 4, 5]
while arr:
    print(arr.pop())

5
4
3
2
1

In [31]:
arr = []
while not arr:
    arr.append(3)
arr

[3]

In [33]:
s1 = set()
while not s1:
    s1.add("")
s1

{''}

In [36]:
feb = [0, 1]
count = 0
while count <= 97:
    feb.append(feb[-1] + feb[-2])
    count += 1
len(feb)

100

In [38]:
feb = [0, 1]
while len(feb) < 100:
    feb.append(feb[-1] + feb[-2])
len(feb)

100

In [40]:
feb = [0, 1]
next_digit = feb[-1] + feb[-2]
while next_digit < 100:
    feb.append(next_digit)
    next_digit = feb[-1] + feb[-2]
feb

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

---

In [41]:
str(56756)

'56756'

In [42]:
int("456758")

456758

In [47]:
digit = 123454567
digit = str(digit)
index = 0
total = 0
while index < len(digit):
    sym = digit[index]
    sym = int(sym)
    total += sym
    index += 1
total

37

In [52]:
digit = 123454567
total = 0
while digit:
    sym = digit % 10
    digit //= 10
    total += sym
total

37

In [53]:
digit = 12345
reverse = 0
while digit:
    reverse *= 10
    reverse += digit % 10
    digit //= 10
reverse

54321

In [57]:
digit = 12345
result = []
while digit:
    sym = digit % 10
    digit //= 10
    result.append(sym)
result[::-1]

[1, 2, 3, 4, 5]

In [58]:
arr = [1, 2, 3, 4, 5]
arr = arr[::-1]
total = 0
while arr:
    total *= 10
    total += arr.pop()
total

12345

In [60]:
arr = [1, 2, 3, 4, 5]
total = 0
while arr:
    total *= 10
    total += arr.pop(0)
total

12345

In [61]:
arr = [1, 2, 3, 4, 5]
index = 0
total = 0
while index < len(arr):
    total *= 10
    total += arr[index]
    index += 1
total

12345

In [65]:
arr = [1, 2, 3, 4, 5]
from functools import reduce
reduce(lambda x, y: x * 10 + y, arr)

12345